/* Ukuran Tablet */
@media all and (max-width: 1000px){
	.header-list li {
		font-size: 15px;
	}

	.heading {
		font-size: 30px;
	}
	.shout {
		font-size: 20px;
	}
	.top-wrapper {
		height: 300px;
		width: 100%;
	}

	.headingtop  p {
		font-size: 25px;
	}
	.data-sebaran {
		width: 50%;
	}
	.peta {
		display:none;
	}
	.gejala {
    width: 50%;
    margin-bottom: 30px;
 	}
 	.message {
 		margin-top: 250px;
 	}
 	

}

/* Ukuran Smartphone */
@media all and (max-width: 670px){
	.logo img {
		width: 60px;
	}
	.header-list  li {
		font-size: 12px;
	}
	.heading {
		font-size: 20px;
	}
	.headingtop p {
		font-size: 20px;
	}
	.shout {
		font-size: 15px;
	}
	.top-wrapper {
		width: 100%;
	}
	.data-sebaran {
		width: 100%;
	}
	.gejala {
    width: 100%;
 	}
 	.message {
 		margin: 0;
 	}
 	.footer-logo h2 {
 		font-size: 35px;
 	}
 	.footer-list li {
 		font-size: 20px;
 	}
	.footer-list .head {
		font-size: 25px;
}